*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--neutral-800);
  background-color: var(--white);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
ul li,
ol li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
