:root {
  --neutral-800: #170f49;
  --neutral-700: #514f6e;
  --neutral-600: #6f6c8f;
  --neutral-500: #a0a3bd;
  --neutral-400: #d9dbe9;
  --neutral-300: #f1f2f9;
  --neutral-200: #fbfbfe;
  --white: #ffffff;
  --white-gradient: linear-gradient(151.44deg, #ffffff -62.65%, #fbfbfe 83.01%);

  --purple-700: #4a3aff;
  --purple-600: #897fff;
  --purple-500: #a0a3bd;
  --purple-400: #897fff;
  --purple-300: #d2ceff;
  --purple-200: #eae8ff;
  --purple-100: #f1f0fb;
  --purple-gradient: linear-gradient(160.41deg, #8c82ff -5.15%, #4a3aff 87.35%);

  --box-shadow: 0px 2px 15px rgba(25, 33, 61, 0.1);
}
